<!-- USER INFORMATION tab -->
<div
        role="main"
        class="container tab"
        id="Account"
        style="display: none;"
>
    <!-- Section for if user is registered -->
    <section class="account-information">
        <div class="account-information-panel">
            <h2>Account Overview</h2>
            <div class="user-information-table">
                <div class="user-information-block ">
                    <span class="name-label user-info-label">Name</span>
                    <span class="name-value user-info-value"
                    ></span
                    >
                </div>
                <div class="user-information-block">
                    <span class="address-1-label user-info-label">Address 1</span>
                    <span class="address-1-value user-info-value"
                    ></span
                    >
                </div>
                <div class="user-information-block">
                    <span class="address-2-label user-info-label">Address 2</span>
                    <span class="address-2-value user-info-value"
                    ></span
                    >
                </div>
                <div class="user-information-block">
                    <span class="city-label user-info-label">City</span>
                    <span class="city-value user-info-value"></span>
                </div>
                <div class="user-information-block">
                    <span class="state-label user-info-label">state</span>
                    <span class="state-value user-info-value"
                    ></span
                    >
                </div>
                <div class="user-information-block">
                    <span class="zip-code-label user-info-label">Zip Code</span>
                    <span class="zip-code-value user-info-value"
                    ></span
                    >
                </div>
                <div class="user-information-block">
                    <span class="phone-label user-info-label">phone</span>
                    <span class="phone-value user-info-value"
                    ></span
                    >
                </div>
                <div class="user-information-block">
                    <span class="email-label user-info-label">email</span>
                    <span class="email-value user-info-value"
                    ></span
                    >
                </div>
            </div>
            <div class="edit-user-buttons">
                <button class="edit-user-button" type="button">Edit</button>
                <button class="sign-out-button" type="button">Sign Out</button>
            </div>
        </div>
    </section>

    <!-- Section for if User is not registered -->
    <section class="register-account">
        <div class="register-user-panel">
            <h2>Register New Account:</h2>
            <!-- action attribute defines action performed when the form is submitted -->
            <!-- use HTTP post method for sensitive information-->
            <form
                    class="register-user-form"
                    action="/users/sign_up"
                    method="POST"
            >
                <!-- TODO: Combine First Name and Last Name into the "Full Name" Field-->
                <div class="register-full-name">
                    <label for="user_first_name">First Name:</label>
                    <span
                            class="error-field"
                            id="user-first-name-error-message"
                    ></span>
                    <input
                            title="First Name"
                            type="text"
                            id="user_first_name"
                            name="first_name"
                            maxlength="100"
                            placeholder="First Name"
                            required
                    />
                    <br />
                    <label for="user_last_name">Last Name:</label>
                    <span
                            class="error-field"
                            id="user-last-name-error-message"
                    ></span>
                    <input
                            title="Last Name"
                            type="text"
                            id="user_last_name"
                            name="last_name"
                            maxlength="100"
                            placeholder="Last Name"
                            required
                    />
                </div>
                <br />
                <div class="register-contact-information">
                    <label for="user_phone">Phone:</label>
                    <span class="error-field" id="user-phone-error-message"></span>
                    <input
                            title="User Phone"
                            type="tel"
                            id="user_phone"
                            name="user_phone"
                            placeholder="Primary Phone"
                            required
                    /><br />
                    <label for="user_email">Email:</label>
                    <span class="error-field" id="user-email-error-message"></span>
                    <input
                            title="User Email"
                            type="email"
                            id="user_email"
                            name="user_email"
                            placeholder="Email"
                            required
                    />
                </div>

                <div class="register-user-address">
                    <label for="user_address_1">Address Line 1:</label><br />
                    <span
                            class="error-field"
                            id="user-address-1-error-message"
                    ></span>
                    <input
                            title="Address 1"
                            type="text"
                            id="user_address_1"
                            name="street_address"
                            maxlength="100"
                            placeholder="Street Address"
                            required
                    />

                    <label for="user_address_2">Address Line 2:</label>
                    <span
                            class="error-field"
                            id="user-address-2-error-message"
                    ></span>
                    <!--              <span class="register-optional">Optional</span>-->
                    <input
                            title="Address 2"
                            type="text"
                            id="user_address_2"
                            name="street_address2"
                            maxlength="100"
                            placeholder="Apt, Suite, Bldg"
                    />
                </div>

                <div class="register-user-location">
                    <div class="flex-user-location register-flex-row-1">
                        <label class="register-city-label" for="user_city"
                        >City:</label
                        >
                        <span class="error-field" id="user-city-error-message"></span>
                        <input
                                title="City"
                                type="text"
                                id="user_city"
                                name="user_city"
                                placeholder="City"
                                required
                        />
                    </div>

                    <div class="flex-user-location register-flex-row-2">
                  <span
                          class="error-field"
                          id="user-state-error-message"
                  ></span>
                        <label class="register-state-label" for="user_state"
                        >State:</label
                        >
                        <!-- TODO: Move to a DB and load with AJAX -->
                        <select title="Users State" name="state" id="user_state">
                            <option value="" selected="selected">State</option>
                        </select>
                    </div>

                    <div class="flex-user-location register-flex-row-3">
                        <label for="user_zipcode" class="register-zip-label">
                            Zip Code:</label
                        >
                        <span class="error-field" id="user-zip-error-message"></span>
                        <input
                                title="Zip-Code"
                                type="text"
                                id="user_zipcode"
                                name="user_zip"
                                placeholder="Zip Code"
                                required
                        />
                    </div>
                </div>
                <br />
                <div class="register-user-buttons">
                    <button id= "register-user-btn" class="register-user-button disabled-button"
                            disabled>Register</button>
                    <button class="reset-user-fields-button">Reset</button>
                </div>
            </form>
        </div>
    </section>
    <div class="top-btn">
        <a class="back-to-top" href="#">Back to Top</a>
    </div>
</div>
<!-- end USER INFORMATION tab -->
