/*
THIS CSS FILE IS NEEDS TO ONLY IMPORT THE OTHER CSS SHEETS.
CSS Selectors ARE TEMPORARILY INCLUDED IN THIS PAGE
FOR LEARNING PURPOSES.
 */

/* 1. Base */
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html {
    /* Arrange CSS rules alphabetically*/
    /*background-image: linear-gradient(to bottom right, #232526, #414345);*/
    font-family: "Quicksand", sans-serif;
    height: 100%;
    /*-moz-osx-font-smoothing: grayscale;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*line-height: 1.5;*/
    /*min-height: 100vh;*/
    /*min-width: 300px;*/
    /*overflow-x: hidden;*/
    /*text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);*/
}

body {
    /* Make the height of the body 100% of page, and min height too.
    That way the height of footer doesn't change. */
    background-color: #EBB3A9;
    height: 100%;
    min-height: 100%;
    width: 100%;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
}


.top-bar-header h1 {
    display: block;
    text-align: center;
    font-size: 48px;
    color: #57adc9;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    font-weight: 800;
    padding: -20px 0;
    font-family: Arial, fantasy;
    max-width: 600px;
    margin: 0 auto;
}

.top-bar-header {
    width: 100%;
    overflow: hidden;
    background-color: #F9F6E1;
    height: 120px;
}

.top-bar {
    display: block;
}

.top-bar-left .nav-list {
    display: inline-block;
    position: relative;
}
.top-bar-right .nav-list {
    display: inline-block;
    position: relative;
    left: 1000px;
    top: -50px;
}

.nav-list {
    list-style-type: none;
    width: 400px;
    height: 40px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: inline-block;
}

.nav-item {
    float: left;
}

.nav-item .nav-link {
    color: #57adc9;
    text-align: center;
    margin: 10px 12px;
    text-transform: uppercase;
    text-decoration: none;
    display:inline;
}

.nav-item .nav-link:hover {
    color: #40798C;
    font-weight: 800;
}

.nav-item a.active {
    color: #40798C;
    font-weight: 600;
}

/*.main {*/
/*    min-height: 100vh;*/
/*    overflow: hidden;*/
/*    display: block;*/
/*    position: relative;*/
/*    padding-bottom: 2.5rem;*/
/*}*/

/*header .main-header{*/
/*    background-color: #f1f1f1;*/
/*    !* fixed position means that the element stays in same spot even*/
/*        when scrolling*!*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*}*/

/*h1.main-header {*/
/*    text-align: center;*/
/*}*/

/*.footer{*/
/*    !* ----positions---*/
/*        fixed: positioned relative to the viewport, stays in same place*/
/*               even if the page is scrolled.*/
/*        static: not positioned in special way, goes by html flow*/
/*        absolute: positioned relative to the nearest positioned ancestor*/
/*        sticky: positioned based on user's scroll position*!*/
/*    margin-top: auto;*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    height: 2.5rem;*/
/*}*/

/*.nav {*/
/*    !* make the nav take up the whole viewport width *!*/
/*    width: 100vw;*/
/*    background-color: dodgerblue;*/
/*}*/
/*.container {*/
/*    padding-bottom: 2.5rem;*/
/*    position: relative;*/
/*    min-height: 100vh;*/
/*}*/
