<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store Header</title>
    <link rel="stylesheet" type="text/css" href="../../StyleSheets/main.css" />

</head>
<body>
<!-- header -->
<header class="top-bar-header" role="banner">
    <nav class="top-bar" role="navigation">
        <h1>Store Name</h1>
        <div class="top-bar responsive-links">
            <div class="top-bar-column-1">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="active nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="www/Views/Pages/shoppingcart.html"
                        >Shop</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="www/Views/Pages/checkout.html"
                        >Checkout</a
                        >
                    </li>
                </ul>
            </div>
            <div class="top-bar-column-2">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="nav-link" href="www/Views/Pages/userinfo.html"
                        >Account</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="www/Views/Pages/shippinginfo.html"
                        >Shipping</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- /header -->


</body>
</html>