<!DOCTYPE html>
<html class="shopping-cart" lang="en">
  <!-- head  -->
  <head>
    <meta charset="UTF-8" />
    <title>Store Name</title>
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <meta name="author" content="mcdougald_huerta_khan" />
    <meta
      name="description"
      content="HTML page for shopping cart information"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <!-- /head -->

  <!-- body -->
  <body>
    <!-- CSS selector will use wallpaper to style background-->
    <div class="wallpaper"></div>
    <!-- header -->
    <header class="main-header" role="banner">
      <h1>Store Name</h1>
      <nav class="header-nav nav" role="navigation">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="www/Views/Pages/userinfo.html"
              >Account Information</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="www/Views/Pages/shippinginfo.html"
              >Shipping Information</a
            >
          </li>
          <li class="nav-item">
            <a class="active nav-link" href="www/Views/Pages/shoppingcart.html"
              >Store</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="www/Views/Pages/checkout.html"
              >Checkout</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <!-- /header -->

    <!-- main -->
    <main class="container">
      <form name="Shopping Cart" action="/my-handling-form-page" method="POST">
        <div class="search-store">
          <label for="products"></label>
          <select id="products" title="Product Selection" name="products">
            <option value="" selected="selected">Store Products</option>
            <option value="product-1">(example) Product 1</option>
            <option value="product-2">(example) Product 2</option>
            <option value="product-3">(example) Product 3</option>
            <option value="product-4">(example) Product 4</option>
            <option value="product-5">(example) Product 5</option>
            <option value="product-6">(example) Product 6</option>
            <option value="product-x">(example) Product...</option>
          </select>
          <label for="item-units">Units:</label>
          <input id="item-units" type="text" name="Item Units" />
          <label for="unit-price">Price:</label>
          <input id="unit-price" type="text" name="Item Units" />
          <div>
            <br />
            <label for="save-item"></label>
            <input id="save-item" type="button" value="Add To Cart" />
            <label for="update-items"></label>
            <input id="update-items" type="button" value="Update Price" />
            <label for="delete-item"></label>
            <input id="delete-item" type="button" value="Delete" />
          </div>
        </div>
        <div id="items-list">
          <h2>Shopping Cart</h2>
          <table id="cart-list">
            <caption>
              Saved Items
            </caption>
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Units</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>(example) Product 1</td>
                <td>(example) x</td>
                <td>(example) $</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <br />
          <label for="total-price">Total Price: $</label>
          <input id="total-price" type="hidden" /> <br />
          <br />
          <label for="to-checkout"></label>
          <input id="to-checkout" type="button" value="Checkout" />
          <label><input type="button" value="Clear" /> </label>
        </div>
      </form>
    </main>
    <!-- /main -->

    <!-- footer -->
    <footer>
      <nav class="footer-nav nav" role="navigation">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="active nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="www/Views/Pages/userinfo.html"
              >Account Information</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="www/Views/Pages/shippinginfo.html"
              >Shipping Information</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="www/Views/Pages/shoppingcart.html"
              >Store</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="www/Views/Pages/checkout.html"
              >Checkout</a
            >
          </li>
        </ul>
      </nav>
    </footer>
    <!-- /footer -->
  </body>
  <!-- /body -->
</html>
